@model PizzaShop.Entity.ViewModels.OrderDetailsViewModel;
@using PizzaShop.Entity.Constants;
<div class="d-flex justify-content-end align-items-center mt-4 mx-3">
    <a href="@Url.Action("Orders", "Order")" style="text-decoration: none;">
        <button type="button" class="outline-btn">
            <img src="~/images/less-than-symbol.png" alt="bak-btn" style="height: 20px; width: 20px;"> Back
        </button>
    </a>
</div>
<div class="mx-3 orderDetails">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="page-title">Order-Details</h2>
    </div>

    <!-- Order Summary -->
    <div class="card mb-3 p-2 fs-2">
        <div class="card-body d-flex justify-content-between">
            <div>
                <h4 class="fw-bold">Order Summary <span class="badge bg-success">@Model.Status</span></h4>
                <p class="mb-1 mt-2" style="font-size: 13px;"><strong>Invoice No.:</strong> @Model.InvoiceNo</p>
                <div class="order-summary d-flex flex-wrap gap-4" style="font-size: 13px;">
                    <div><b>Paid on:</b> @Model.PaidAmount</div>
                    <div><b>Placed on:</b> @Model.CreatedAt</div>
                    <div><b>Modified on:</b> @Model.ModifiedAt</div>

                    @* @if (Model.Status == (OrderConstants.OrderStatusEnum.Completed))
                    {
                    <div><b>Order Duration:</b> </div>
                    } *@
                </div>
            </div>
            <div>
                <button type="button" onclick="exportViewOrderPdf()" class="fill-btn fs-6">
                    <span><i class="fa-solid fa-share-from-square me-1"></i></span>
                    <span class="export-btn">Export</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Customer & Table Details -->
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-body" style="color: gray;">
                    <h5 class="fw-bold"><i class="fa-solid fa-user me-2"></i> Customer Details</h5>
                    <p><strong>Name: @Model.CustomerName</strong></p>
                    <p><strong>Phone: @Model.CustomerPhone</strong></p>
                    <p><strong>Email: @Model.CustomerEmail</strong></p>
                    <p><strong>No Of Person: @Model.NoOfPeople</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body" style="color: gray;">
                    <h5 class="fw-bold"><img src="~/images/dining-table.png" style="height: 30px; width:40px"></i> Table
                        Details</h5>
                    <p><strong>Table: @Model.TableName</strong></p>
                    <p><strong>Section: @Model.SectionName</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Order Items -->
    <div class="card mb-3">
        <div class="card-body table-responsive">
            <h5 class="fw-bold">Order Items</h5>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Sr.No</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderedItems != null)
                    {
                        var srNo = 1;
                        foreach (var item in Model.OrderedItems)
                        {
                            <tr>
                                <td>@srNo</td>
                                <td>@item.ItemName
                                    <ul>
                                        @foreach (var i in item.Modifiers)
                                        {
                                            <li>@i.Name</li>
                                        }
                                    </ul>
                                </td>
                                <td>@item.Quantity
                                    <ul>
                                        @foreach (var i in item.Modifiers)
                                        {
                                            <li>@i.Quantity</li>
                                        }
                                    </ul>
                                </td>
                                <td>₹@item.Price
                                    <ul>
                                        @foreach (var i in item.Modifiers)
                                        {
                                            <li>@i.Rate</li>
                                        }
                                    </ul>
                                </td>
                                <td>₹@item.TotalAmount
                                    <ul>
                                        @foreach (var i in item.Modifiers)
                                        {
                                            <li>@i.TotalAmount</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                            srNo++;
                        }
                    }
                </tbody>
            </table>

            <div class="text-end">
                <div class="d-flex justify-content-end">
                    <div class="me-3">Subtotal: ₹@Model.SubTotal</div>
                </div>
                @if (Model.OrderTaxes != null)
                {
                    var srNo = 1;
                    foreach (var item in Model.OrderTaxes)
                    {
                        <div>
                            <div class="d-flex justify-content-end mb-2"></div>
                            <div class="me-3">@item.Name: ₹@item.TaxValue</div>
                        </div>
                    }
                    srNo++;
                }
                <div class="d-flex justify-content-end mb-2">
                    <div class="me-3">Discount: ₹@Model.Discount</div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="me-3">Total: ₹@Model.TotalAmount</div>
                </div>
            </div>
        </div>
    </div>
</div>
@* 
<div class="container-fluid orderDetails">
    <div class="row pdf" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="col-xl-8 col-lg-10 mb-3 col-11">
            <div class="d-flex justify-content-between">
                <h2 class="d-inline-block" style="color: #0066A7;">Order Details</h2>
                <a asp-controller="Order" asp-action="Index" class="btn btn-primary m-1"
                    style="background-color:transparent; color: #0066A7; border: 1px solid #0066A7;">Back</a>
            </div>
        </div>

        <div class="card mb-3 col-xl-8 col-lg-10 col-11">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="d-inline-block">Order Summary</h4>
                        <span class="ml-3"
                            style="background-color: #ADD8E6; color: #448490; padding: 3px; font-size: small; font-weight: 500;">@Model.Status</span>
                    </div>
                    <button id="Export" class="btn btn-primary float-right"
                        style="height: 40px; background-color: #0066A7; color: white; border: 1px solid #0066A7;">
                        <i class="fa-solid fa-share-from-square"></i> Export
                    </button>
                </div>
                <div class="order-info">
                    <div>
                        <p style="margin: 0;"><strong>Invoice number:</strong> @Model.InvoiceNo</p>
                    </div>
                    <div>
                        <p style="margin: 0;"><strong>Paid on:</strong> @Model.PaidAmount</p>
                    </div>
                    <div>
                        <p style="margin: 0;"><strong>Placed on:</strong> @Model.CreatedAt</p>
                    </div>
                    <div>
                        <p style="margin: 0;"><strong>Modified On:</strong> @Model.ModifiedAt</p>
                    </div>
                    @if (Model.OrderDuration.HasValue)
                    {
                        var totalMinutes = (int)Model.OrderDuration.Value;
                        var hours = totalMinutes / 60;
                        var minutes = totalMinutes % 60;
                        <div>
                            <p style="margin: 0;"><strong>Order Duration:</strong> @($"{hours} hour{(hours != 1 ? "s" : "")} {minutes} minute{(minutes != 1 ? "s" : "")}")</p>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p style="margin: 0;"><strong>Order Duration:</strong></p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap col-xl-8 col-lg-10 col-11 p-0">
            <div class="col-md-6 col-xl-6 order-card-container">
                <div class="card d-flex justify-content-center" style="height: 200px;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 style="align-items: center; display:flex; gap:5px;"><i
                                class="fa-regular fa-address-card"></i> <span>Customer Details</span></h5>
                        <br>
                        <p style="margin: 0;">Name: @Model.CustomerName</p>
                        <p style="margin: 0;">Phone: @Model.CustomerPhone</p>
                        <p style="margin: 0;">No. of Person: @Model.NoOfPeople</p>
                        <p style="margin: 0;">Email: @Model.CustomerEmail</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-6 mb-3 order-card-container">
                <div class="card d-flex justify-content-center" style="height: 200px;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 style="align-items: center; display:flex; gap:5px;">
                            <img src="@Url.Content("~/images/icons/dinner-table.svg")" height="30px" alt=""> <span>Table
                                Details</span>
                        </h5>
                        <br>
                        <p style="margin: 0;">Table: @Model.TableName</p>
                        <p style="margin: 0;">Section: @Model.SectionName</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 col-xl-8 col-lg-10 col-11">
            <div class="card-body">
                <h4>Order Items</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color: #6E695E; white-space: nowrap; text-align: left;">Sr.No.</th>
                                <th style="color: #6E695E; white-space: nowrap; text-align: left;">Item</th>
                                <th style="color: #6E695E; white-space: nowrap; text-align: left;">Quantity</th>
                                <th style="color: #6E695E; white-space: nowrap; text-align: left;">Price</th>
                                <th style="color: #6E695E; white-space: nowrap; text-align: left;">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int srNo = 1;
                            }
                            @foreach (var item in Model.OrderedItems)
                            {
                                <tr>
                                    <td style="color: #4d4a4d; white-space: nowrap;">@srNo</td>
                                    <td style="color: #4d4a4d; white-space: nowrap;">
                                        <div>@item.ItemName</div>
                                        @foreach (var modifier in item.Modifiers)
                                        {
                                            <div class="modifier">+ @modifier.Name</div>
                                        }
                                        <br>
                                    </td>
                                    <td style="color: #4d4a4d; white-space: nowrap;">
                                        <div>@item.Quantity</div>
                                        @foreach (var modifier in item.Modifiers)
                                        {
                                            <div class="modifier">@modifier.Quantity</div>
                                        }
                                    </td>
                                    <td style="color: #4d4a4d; white-space: nowrap;">
                                        <div>@item.Price</div>
                                        @foreach (var modifier in item.Modifiers)
                                        {
                                            <div class="modifier">@modifier.Rate</div>
                                        }
                                    </td>
                                    <td style="color: #4d4a4d; white-space: nowrap;">
                                        <div>@item.TotalAmount</div>
                                        @foreach (var modifier in item.Modifiers)
                                        {
                                            <div class="modifier">@modifier.TotalAmount</div>
                                        }
                                    </td>
                                </tr>
                                srNo++;
                            }
                        </tbody>
                    </table>
                </div>
                <div style="text-align: end;">
                    <p style="margin: 0;">Subtotal: ₹ @Model.SubTotal</p>
                    @foreach (var tax in Model.OrderTaxes)
                    {
                        <p style="margin: 0;">@tax.Name (@(tax.Type ?? true ? "Percentage" : "Flat")): ₹ @tax.TaxValue</p>
                    }
                    <p>Total: ₹ @Model.TotalAmount</p>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div id="InvoiceDetailContainer">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
    $("#Export").click(function () {

        const element = document.querySelector('.orderDetails');

        const options = {
            filename: 'OrderDetails.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: { scale: 1 },
            jsPDF: { unit: 'in', format: 'A3', orientation: 'portrait' }
        };

        html2pdf().set(options).from(element).save();

    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
    function exportViewOrderPdf() {
        // Select the container you want to export
        const element = document.querySelector('.orderDetails');

        // Configure html2pdf options
        const options = {
            margin: 1,
            filename: 'OrderDetails.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Generate and download the PDF
        html2pdf().set(options).from(element).save();
    }

    $(".getOrderPdf").click(function () {
        var id = $(this).data('id')
        console.log(id);
        $.ajax({
            url: "/Orders/InvoiceDetail",
            type: "GET",
            data: {
                id: id
            },
            success: function (response) {
                $("#InvoiceDetailContainer").html(response);
                const element = document.querySelector('#invoice-detail');
                console.log(response);
                const isMobile = window.innerWidth < 768;

                const options = {
                    margin: 1,
                    filename: 'OrderDetails.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: {
                        scale: isMobile ? 3 : 2,
                        windowWidth: 800
                    },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };

                html2pdf().set(options).from(element).save();
            },
            error: function (error) {
                toastr.error("Error while download pdf file");
            }
        })
    })
</script>