@{
    ViewData["Title"] = "AdminDashboard";
}
<div class="page-title">
    <h2 class="text-center">Dashboard</h2>
</div>

<!-- Stats Cards -->
<div class="container">
    <div class="row g-3">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="dashboard-card">
                <div class="icon-container icon-sales"><img src="~/images/icons/total-sales.svg"></div>
                <h3 class="card-value">$1630</h3>
                <p class="card-title">Total Sales</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="dashboard-card">
                <div class="icon-container icon-orders"><img src="~/images/icons/total-orders.svg"></div>
                <h3 class="card-value">4</h3>
                <p class="card-title">Total Orders</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="dashboard-card">
                <div class="icon-container icon-value"><img src="~/images/icons/order-value.svg"></div>
                <h3 class="card-value">630</h3>
                <p class="card-title">Avg. Order Value</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="dashboard-card">
                <div class="icon-container icon-waiting"><img src="~/images/icons/waiting-time.svg"></div>
                <h3 class="card-value">6.96 mins</h3>
                <p class="card-title">Avg. Waiting Time</p>
            </div>
        </div>
    </div>
</div>

<!-- Graphs -->
<div class="container mt-4">
    <div class="row g-3">
        <div class="col-md-6">
            <div class="dashboard-card">
                <h4 class="card-heading">Revenue</h4>
                <img src="~/images/graph1.png" alt="Revenue Graph" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboard-card">
                <h4 class="card-heading">Customer Growth</h4>
                <img src="~/images/graph2.png" alt="Customer Growth Graph" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Top Selling and Least Selling Items -->
<div class="dashboard-container m-3 p-3">
    <div class="dashboard-card">
        <h4 class="card-heading">Top Selling Items</h4>
        <hr>
        <table class="item-table">
            <tr>
                <td>#1</td>
                <td><img src="@Url.Content("~/images/dining-menu.png")" alt="Grilled Burger" class="item-img"></td>
                <td>
                    <p class="item-name">Grilled Burger</p>
                    <span class="order-count"><i class="fa-solid fa-caret-up"></i> 1 Order</span>
                </td>
            </tr>
            <tr>
                <td>#2</td>
                <td><img src="@Url.Content("~/images/dining-menu.png")" alt="Margherita" class="item-img"></td>
                <td>
                    <p class="item-name">Margherita</p>
                    <span class="order-count"><i class="fa-solid fa-caret-up"></i> 1 Order</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="dashboard-card">
        <h4 class="card-heading">Least Selling Items</h4>
        <hr>
        <table class="item-table">
            <tr>
                <td>#1</td>
                <td><img src="@Url.Content("~/images/dining-menu.png")" alt="Grilled Burger" class="item-img"></td>
                <td>
                    <p class="item-name">Grilled Burger</p>
                    <span class="order-count"><i class="fa-solid fa-caret-down"></i>1 Order</span>
                </td>
            </tr>
            <tr>
                <td>#2</td>
                <td><img src="@Url.Content("~/images/dining-menu.png")" alt="Margherita" class="item-img"></td>
                <td>
                    <p class="item-name">Margherita</p>
                    <span class="order-count"><i class="fa-solid fa-caret-down"></i> 1 Order</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="dashboard-card">
        <div class="icon-container icon-waiting-list"><img src="@Url.Content("~/images/icons/waiting-list.svg")"></img>
        </div>
        <h3 class="card-value">12</h3>
        <p class="card-title">Waiting List Count</p>
    </div>
    <div class="dashboard-card">
        <div class="icon-container icon-customer"><img src="@Url.Content("~/images/icons/customer.svg")"></img></div>
        <h3 class="card-value">5</h3>
        <p class="card-title">New Customers</p>
    </div>
</div>