@using PizzaShop.Entity.ViewModels
@model IEnumerable<MappinMenuItemsWithModifierViewModel>

@foreach (var group in Model)
{
    <div>
        <p class="m-0 p-0">@group.</p>
        <i class="fa-solid fa-trash" onclick="deleteModifierGroup(@group.Id)"></i>
        <div class="row">
            <div class="col">
                <select asp-for="@group.MinSelectionRequired" class="form-control">
                    @for (int i = 0; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col">
                <select asp-for="@group.MaxSelectionAllowed" class="form-control">
                    @for (int i = 0; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        <ul>
            @* @foreach (var modifier in group.Modifiers)
            {
                <div class="d-flex justify-content-between">
                    <li>@modifier.Name </li>
                    <li>@modifier.Price.ToString("C")</li>
                </div>
            } *@
        </ul>
    </div>
}