@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model PizzaShop.Entity.ViewModels.ProfileViewModel;

<div class="col-12 pt-5 content-bg">
    <!-- Add User header -->
    <div class="row align-items-center d-flex flex-wrap ">
        <h1 class="fs-2  col-md-4 text-primary font-weight-bold">My Profile</h1>
    </div>
    <!-- Form -->
    <div class="shadow card container-fluid p-3 shadow">
        <form asp-controller="User" asp-action="Profile" class="row needs-validation">
            <div>
                <div>
                    <img class="profile-bg" src="~/images/profile_div_bg.jpg" alt="profile-bg">
                </div>
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-center">
                        <img src="~/images/Default_pfp.svg.png" class="profile-img" alt="profile-img">
                        <input type="file" id="imageInput" accept="image/*" style="display: none;">
                        <button id="changeImageButton"
                            class="position-absolute bg-white camera-position z-3 rounded-circle border z-2 shadow-sm">
                            <i class="fa fa-camera p-2 " for="imageInput" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-7">
                        <h3>@ViewData["FirstName"] @ViewData["LastName"]</h3>
                        <p>@ViewData["role"]</p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            @ViewData["email"]
                        </p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input type="firstName" class="form-control" id="firstName" placeholder="firstName"
                                    name="FirstName" asp-for="FirstName" />
                                <label for="firstName">First Name</label>
                            </div>
                            <span class="text-danger fs-6 ms-2" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastName" placeholder="lastName"
                                    name="LastName" asp-for="LastName" />
                                <label for="LastName">lastName</label>
                            </div>
                            <span class="text-danger fs-6 ms-2" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="userName" placeholder="name" name="UserName"
                                asp-for="UserName" />
                            <label for="userName">User Name</label>
                        </div>
                        <span class="text-danger fs-6 ms-2" asp-validation-for="UserName"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="phone" placeholder="name" name="Phone"
                                asp-for="Phone" />
                            <label for="phone">Phone</label>
                        </div>
                        <span class="text-danger fs-6 ms-2" asp-validation-for="Phone"></span>
                    </div>
                </div>
                <div>
                    <div class="row">
                        @* <div class="form-floating col">
                            <select id="CountryId" name="CountryId" class="form-control"
                                asp-items="ViewBag.Countries"></select>
                            <label for="CountryId" class="float">Country</label>
                        </div>
                        <div class="form-floating col">
                            <select id="StateId" name="StateId" class="form-control"
                                asp-items="ViewBag.States"></select>
                            <label for="StateId" class="float">State</label>
                        </div>
                        <div class="form-floating col">
                            <select id="CityId" name="CityId" class="form-control" asp-items="ViewBag.Cities"></select>
                            <label for="CityId" class="float">City</label>
                        </div> *@

                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <select id="CountryId" class="form-select" asp-for="Country" id="select-country"
                                    aria-label="Select Country">
                                    @foreach (var country in ViewBag.AllCountries)
                                    {
                                        <option value="@country.Id">
                                            @country.Name
                                        </option>
                                    }
                                </select>
                                <label for="select-country">Country</label>
                            </div>
                            <span class="text-danger fs-6 ms-2" asp-validation-for="Country"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <select id="StateId" asp-for="State" class="form-select" id="select-state"
                                    aria-label="Select State">
                                    @foreach (var state in ViewBag.AllStates)
                                    {
                                        <option value="@state.Id">
                                            @state.Name
                                        </option>
                                    }
                                </select>
                                <label for="select-state">State</label>
                            </div>
                            <span class="text-danger fs-6 ms-2" asp-validation-for="State"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <select id="CityId" asp-for="City" class="form-select" id="select-city"
                                    aria-label="Select City">

                                    @foreach (var city in ViewBag.AllCities)
                                    {
                                        <option value="@city.Id">
                                            @city.Name
                                        </option>
                                    }
                                </select>
                                <label for="select-city">City</label>
                            </div>
                            <span class="text-danger fs-6 ms-2" asp-validation-for="City"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" asp-for="Address" class="form-control" id="Address"
                                placeholder="Address" />
                            <label for="Address">Address</label>
                        </div>
                        <span asp-validation-for="Address" class="text-danger fs-6 ms-2"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ZipCode" placeholder="ZipCode" name="ZipCode"
                                asp-for="ZipCode" />
                            <label for="ZipCode">ZipCode</label>
                        </div>
                        <span class="text-danger fs-6 ms-2" asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div>
                    <div class="mt-2 d-flex justify-content-end">
                        <button class="btn btn-primary me-3" type="submit">
                            Update
                        </button>
                        <button class="btn btn-outline-primary" type="button" id="Cancel"
                            onclick="location.href='@Url.Action("Index", "Home")'">Cancel</button>
                    </div>
                    <span class="text-success">@ViewData["ProfileSuccessMessage"]</span>
                </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CountryId').change(function () {
                var countryId = $(this).val();
                $.getJSON('@Url.Action("GetStates", "Home")', { countryId: countryId }, function (data) {
                    var stateSelect = $('#StateId');
                    stateSelect.empty();
                    $.each(data, function (index, state) {
                        stateSelect.append($('<option>', {
                            value: state.id,
                            text: state.name
                        }));
                    });
                    stateSelect.val(data[0]?.id).change();
                });
            });

            $('#StateId').change(function () {
                var stateId = $(this).val();
                $.getJSON('@Url.Action("GetCities", "Home")', { stateId: stateId }, function (data) {
                    var citySelect = $('#CityId');
                    citySelect.empty();
                    $.each(data, function (index, city) {
                        citySelect.append($('<option>', {
                            value: city.id,
                            text: city.name
                        }));
                    });
                    citySelect.val(data[0]?.id);
                });
            });

            $('#CountryId').change();
        });
    </script>
}