@model PizzaShop.Entity.ViewModels.CustomerDetailsViewModel;
@* 
<div class="modal fade" id="CustomerModal" tabindex="-1" aria-labelledby="taxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            CustomerDetails
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="col-md-12 d-flex justify-content-between border p-2 ">
                                <span class="text-secondary">Name </span><span class="fw-bolder">@Model.Name</span>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between border p-2">
                                <span class="text-secondary">MobileNumber </span><span
                                    class="fw-bolder">@Model.MobileNumber</span>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between border p-2">
                                <span class="text-secondary">Max Order </span><span
                                    class="fw-bolder">@Model.MaxOrder</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12 d-flex justify-content-between border-bottom p-2">
                                <span class="text-secondary">Average Bill </span><span
                                    class="fw-bolder">@Model.AvgBill</span>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between border-bottom p-2">
                                <span class="text-secondary">Comming Since </span><span
                                    class="fw-bolder">@Model.CommingSince</span>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between border-bottom p-2">
                                <span class="text-secondary">Visits </span><span class="fw-bolder">@Model.Visits</span>
                            </div>
                        </div>


                    </div>
                    <div class="table-responsive mt-5">
                        <table class="table table-hover">
                            <thead class="border-dark bg-white position-sticky top-0">
                                <tr>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Order Type</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>

                            <tbody class="scroll-y-auto">

                                @foreach (var item in Model.CustomerOrders)
                                {

                                    <tr>

                                        <td class="">
                                            @item.OrderDate
                                        </td>

                                        <td>
                                            @item.OrderType
                                        </td>
                                        <td>
                                            @item.Payment
                                        </td>
                                        <td>
                                            @item.items
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@


@* @model PizzaShop.DataAccess.ViewModels.CustomerHistoryViewModel; *@

<div class="modal fade" id="CustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Customer History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 " style="background-color: rgb(247, 247, 247);">
                <div class="row gap-2 px-1">
                    <div class="col p-2 bg-white">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Name</span>
                            <span class="fw-bold">@Model?.Name</span>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Average Bill</span>
                            <span class="fw-bold">@Model?.AvgBill</span>
                        </div>
                    </div>
                </div>
                <div class="row gap-2 px-1">
                    <div class="col p-2 bg-white">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Mobile Number</span>
                            <span class="fw-bold">@Model?.MobileNumber</span>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Coming Since</span>
                            <span class="fw-bold">@Model?.CommingSince</span>
                        </div>
                    </div>
                </div>
                <div class="row gap-2 px-1">
                    <div class="col p-2 bg-white">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Max Order</span>
                            <span class="fw-bold">@Model?.MaxOrder</span>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div class=" d-flex justify-content-between p-2 shadow-sm border rounded-2 bg-light">
                            <span class="text-secondary">Visits</span>
                            <span class="fw-bold">@Model?.Visits</span>
                        </div>
                    </div>
                </div>

                <div class="shadow card px-3 mt-4">
                    <section class="table-responsive">
                        <table class="table table-hover user-table mb-0">
                            <thead>
                                <tr></tr>
                                <th scope="col" class="d-flex align-items-center text-start">OrderDate
                                </th>
                                <th scope="col" class="text-left">
                                    <div class="d-flex align-items-center justify-content-start" style="width: 100px;">
                                        Order Type
                                    </div>
                                </th>

                                <th scope="col" class="text-left">Payment</th>
                                <th scope="col" class="text-left">Items</th>
                                <th scope="col" class="text-left">Amount</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-devider">

                                @if (@Model.CustomerOrders.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center text-secondary">No Orders Found</td>
                                    </tr>
                                }
                                @foreach (var c in @Model.CustomerOrders)
                                {
                                    <tr>
                                        <td scope="col" class="d-flex align-items-center text-start">@c.OrderDate
                                        </td>
                                        <td scope="col" class="text-left">
                                            @c.OrderType
                                        </td>

                                        <td scope="col" class="text-left">@c.Payment</td>
                                        <td scope="col" class="text-left">@c.items</td>
                                        <td scope="col" class="text-left">@c.Amount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>