@model List<PizzaShop.Entity.Data.TaxesAndFee>;

<div class="table-responsive mt-3 rounded shadow p-2 bg-white">
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>IsEnabled</th>
                <th>Default</th>
                <th>TaxValue</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tax in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => tax.Name)</td>
                    <td>
                        @if (tax.Type == true)
                        {
                            <p style="margin: 0;">Percentage</p>
                        }
                        else
                        {
                            <p style="margin: 0;">Flat Amount</p>
                        }
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input isDefaultSwitch" type="checkbox" id="flexSwitchCheckChecked"
                                @(tax.IsActive == true ? "checked" : "")>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input isDefaultSwitch" type="checkbox" id="flexSwitchCheckChecked"
                                @(tax.IsDefault == true ? "checked" : "")>
                        </div>
                    </td>
                    <td>
                        @if (tax.Type == true)
                        {
                            @Html.DisplayFor(modelItem => tax.TaxValue)
                            <span>%</span>
                        }
                        else
                        {
                            <span>₹</span>
                            @Html.DisplayFor(modelItem => tax.TaxValue)
                        }
                    </td>
                    <td>
                        <div class="d-flex justify-content-cente gap-3">
                            <a href="javascript:void(0);" style="text-decoration: none; color: inherit;" class="edit-tax"
                                data-id="@tax.Id">
                                <i class="fa-solid fa-pen-clip m-1"></i>
                            </a>
                            <a href="javascript:void(0);" class="delete-btn" data-id="@tax.Id">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    // Open Delete Confirmation Modal
    $(".delete-btn").click(function () {
        deleteTaxId = $(this).data("id");
        console.log("TaxId", deleteTaxId)
        $('#deleteModal').modal('show');
    });

    // Confirm Delete Button Click
    $("#confirmDeleteButton").click(function () {
        $.ajax({
            url: "/TaxAndFee/Delete",
            type: "POST",
            data: { id: deleteTaxId },
            success: function (response) {
                console.log("Delete Res", response);
                if (response == null) {
                    window.location.href = "/Auth/Login";
                    toastr.error("Your session has expired. Please login again.");
                }
                if (response.success) {
                    toastr.success(response.message);
                    $("#taxList").load(location.href + " #taxList > *");
                    @* GetFilteredTax();  *@
                        $("#deleteModal").modal("hide");
                } else {
                    toastr.error(response.message);
                }
            },
            error: function (xhr, status, error) {
                toastr.error("Failed to delete tax.");
                console.error("Error details:", status, error, xhr.responseText);
                $("#deleteModal").modal("hide");
            }
        });
    });
</script>
